/* Font import  */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800&display=swap');
/* 
font-family: 'Mulish', sans-serif;
  */

/*************************** Typography *******************/
:root{
    --Dark-01:#131318;
    --Dark-02: #424247;
    --Dark-03:#5A5A5D;
    --Dark-04:  rgba(19, 19, 24, 0.70);
    --primary-color: #FF5400;
    --White: #fff;
}
body{
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

/************************ Common Style  *******************/

.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 8px;
    padding: 16px 35px;
}

.txt-center{
    text-align: center;
}

 /* font-size and Color styling   title> 40_20   subtitle > 24-20  price > 20-16    description > 16-14   card text 28-20   */
.flex{
    display: flex;
    gap: 53px;
}
.border-radius{
    border-radius: 1rem;
}

.dark-1{
    color:var(--Dark-01);
}
.dark-2{
    color:var(--Dark-02);
}
.dark-3{
    color:var(--Dark-03);
}
.dark-4{
    color:var(--primary-color);
}

.title{
    color: var(--Dark-01);
    font-size: 40px;
    font-weight: 800;   
}
.subtitle{
    color:var(--Dark-01);
    font-size: 24px;
    font-weight: 800;
}
.description{
    color:var(--Dark-03);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
main{
    margin: 0px auto;
    max-width: 1180px;
}
.section{
    margin: 100px auto;
}

.txt-white{
    color:var(--White);
}
.primary-color{
    color:var(--primary-color);
}
.hide{
    display: none;
}
.hide-lg{
    display: none;
}

/************************ Main style start  *************************/


/* header style start  */
.site-logo{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
header{
    margin: 0px 135px;
}

header .primary-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primary-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}
.primary-menu ul li {
    margin: 10px 22px;
}
.primary-menu ul li a:active{
    color:var(--primary-color);
}

.hero{
    background: url(../images/hero_background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    color:white;
}
.hero-overlay{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    height: 100%;
    width: 100%;
}
.hero-title{
    font-size: 64px;
    color:var(--White);
    margin-bottom: 24px;
}
.hero .description{
    margin-bottom: 48px;
}
.hero-container{
    padding: 106px 185px;
}
.hero-form{
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.hero-form input , select {
    background:var(--White);
    border: 0px;
    border-radius: 8px;
    padding: 1rem;
    margin: 12px;
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
    
}

/* Popular Section style  */
.popular-point li {
    color:var(--Dark-04);
    margin: 10px 0px;
}

/* Destination section  */
.destination-img-container{
    max-width: 1200px;
    margin: 50px auto;
}

.destination-content{
    text-align: center;
    /* position: relative; */
}
.row{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.destination-item {
    position: relative;
}
.destination-item p{
    display: none;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--White);
    font-size: 28px;

}
.destination-item:hover p{
    display: block;
}

/* Why choose section style  */

.card-container{
display:flex;
gap: 24px;
position: relative;
margin-top: 48px;
}
.card{
    padding:32px;
    border-radius: 16px;
}
#card-1{
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
}
#card-2{
    
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
#card-3{
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin:24px auto;
max-width: 700px;

}
.section-center {
    width:50%;
    margin: 0px auto;
}
.deals-card{
  
}
.deals-card  div{
    margin: 50px;
}
#deal-card-1,#deal-card-2,#deal-card-3{
    display: flex;
    flex:1;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
#deal-card-1{
    background-image: url(../images/Group\ 39.png);


}
#deal-card-2{
    background-image: url(../images/Group\ 40.png);
}
#deal-card-3{
    background-image: url(../images/Group\ 39.png);
}

.deal-card{
    padding: 56px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 550px;
    height: 380px;

}


.place-video video{
    border-radius: 16px;
    width: 100%;
}
.subscribe{
    display: flex;
    gap: 24px;
}
.newsletter{
    border: 1px solid var(--primary-color);
    border-radius: 16px;
    padding: 40px;
}
.newsletter h3 {
 font-size: 24px;
}
.newsletter input{
    padding: 20px;
    margin-bottom: 20px;
    border:0px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.subscribe-form{
    display: flex;
    flex-direction: column;
}
.newsletter-img{
    position: relative;

}
.newsletter-img img{

}
.discount-tag{
    text-align: center;
    background-color: var(--primary-color);
    /* padding:10px; */
    border-radius: 16px;
    width:324px;
    height:128px;
    color: var(--White);
    position: absolute;
    transform: rotate(-30deg);
    right: 10px;
    bottom:70px;
}
.discount-tag .web{
    font-size: 24px;
}
.discount-tag .discount-upto{
    font-size: 32px;
}


footer{
    padding: 110px 0px;
    background: rgba(19, 19, 24, 0.05);

}
.footer-container{
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}
.footer-container ul {
    list-style: none;

}
.social-links ul {
    /* text-align: center; */
    display: flex;
    gap: 24px;
    font-size:1.5rem;
    justify-content: center;
    
}

footer h2 , footer img{
    font-size: 32px;
    align-items: center;
}



/************************ Responsive Style ************************** */

/* Responsive Design for mobile device (Width: 576px) */
@media screen and (max-width:576px) {
    main{
        margin: 0px 20px;
    }

    .title, .subtitle ,.site-logo, .destination-item p {
        font-size: 20px;
    }
    .description{
        font-size: 14px;
    }
    
    .primary-nav{
        justify-content: space-evenly;
    }
    .hide-sm{
        display: none;
    }
    .hide-lg {
        display: block;
    }
    .primary-menu ul{
        display: none;
    }
    header{
        margin: 0px 15px;
    }
    .hero-container{
        padding: 32px 16px;
    }
    .hero-title{
        font-size: 22px;
    }
    .hero-form input , .hero-form .class-type ,.btn-primary{
        width:255px;
    }
    .flex, .row, .card-container,.subscribe{
        flex-direction: column;
    }
    .popular-img img, .section-center, .place img , .newsletter-img img, .place-content, .place-video video{
        width:100%;
    }
    .destination-item img {
        width:100%;
        height: 200px;
    }
    .destination-item p {
        display: block;
        top:40%;
    }
    .discount-tag{
        width:100px;
        height:55px;
    }

}